<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/megamenu.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/etalage.css">

        <!-- endbuild -->
    </head>
    <body ng-app="eHubClientApp" ng-controller="loginCtrl">
        <!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

        <!-- Header -->
        <div class="top_bg">
            <div class="container">
                <div class="header_top">
                    <div class="top_right">
                        <ul>
                            <li><a ng-href="#/contact">Contact</a></li>|
                            <li><a ng-href="#/about">About</a></li>
                        </ul>
                    </div>
                    <div class="top_left">
                        <h2><span></span> Call us : 032 2352 782</h2>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Header -->
        <div class="container">
            <div class="header">
                <div class="head-t">
                    <div class="logo">
                        <a ng-href="#/"><img src="images/logo.png" class="img-responsive" alt=""/> </a>
                    </div>
                    <!-- start header_right -->
                    <div class="header_right">
                        <div class="rgt-bottom">
                            <div class="log" ng-show="currentUser==null">
                                <div class="login" >
                                    <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
                                        <div id="loginBox">                
                                            <form id="loginForm">
                                                <fieldset id="body">
                                                    <fieldset>
                                                        <label for="email">Email Address</label>
                                                        <input type="text" ng-model="login" ng-value="{{login}}" name="login" id="email">
                                                    </fieldset>
                                                    <fieldset>
                                                        <label for="password">Password</label>
                                                        <input type="password" ng-model="password" value="{{password}}" name="password" id="password">
                                                    </fieldset>
                                                    <input type="submit" id="login" value="Sign in" ng-click="LoginAction(login,password)">
                                                    <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                                </fieldset>
                                                <span><a ng-href="#">Forgot your password?</a></span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reg" ng-show="currentUser==null">
                                <a ng-href="#/register">REGISTER</a>
                            </div>
                            <div class="cart box_1" ng-show="currentUser!=null">
                                <a href="checkout.html">
                                    <h3><span>${{totalPrice}}</span> ({{basketsize}} items)<img src="images/bag.png" alt=""></h3>
                                </a>    
                                <p><a href="" class="">(empty card)</a></p>
                                <div class="clearfix"> </div>
                            </div>
                            <div ng-show="currentUser!=null" style="float:right;">
                                <a  class="btn btn-labeled btn-danger btn-small"  ng-click="DisconnectAction()"><span class="glyphicon glyphicon-off"></span></a>
                            </div>     
                            <div class="clearfix">
                             </div>
                        </div>
                        <div class="search">
                            <form>
                                <input type="text" value="" placeholder="search...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">accueil</a></li>
                    <li class="grid"><a class="color2" href="#">Téléphonie</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Téléphones portables</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'TELEPHONIE'} | filter: {'superCategory': 'TELEPHONES PORTABLES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>accessoires</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'TELEPHONIE'} | filter: {'superCategory': 'ACCESSOIRES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>téléphonie fixe</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'TELEPHONIE'} | filter: {'superCategory': 'TELEPHONIE FIXE'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>												
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>tablettes</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'TELEPHONIE'} | filter: {'superCategory': 'TABLETTES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>   
                                    </div>                                              
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>top marques</h4>
                                        <ul>
                                            <li><a href="#">pas-encore</a></li>
                                        </ul>	
                                    </div>						
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nos meilleures ventes</h4>
                                        <ul>
                                            <li><a href="women.html">Nos Nouveautés</a></li>
                                            <li><a href="women.html">Promotions</a></li>
                                        </ul>	
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color6" href="#">hommes</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>chaussures</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE HOMMES'} | filter: {'superCategory': 'CHAUSSURES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>vêtements</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE HOMMES'} | filter: {'superCategory': 'VETEMENTS'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>accessoires</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE HOMMES'} | filter: {'superCategory': 'ACCESSOIRES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>												
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>bagagerie</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE HOMMES'} | filter: {'superCategory': 'BAGAGERIE'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>						
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>top marques</h4>
                                        <ul>
                                            <li><a href="#">pas-encore</a></li>
                                        </ul>   
                                    </div>                      
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nos meilleures ventes</h4>
                                        <ul>
                                            <li><a href="#">Nos Nouveautés</a></li>
                                            <li><a href="#">Promotions</a></li>
                                        </ul>   
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>				
                    <li><a class="color4" href="#">femmes</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>chaussures</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE FEMMES'} | filter: {'superCategory': 'CHAUSSURES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>   
                                    </div>                          
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>vêtements</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE FEMMES'} | filter: {'superCategory': 'VETEMENTS'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>   
                                    </div>                          
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>accessoires</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE FEMMES'} | filter: {'superCategory': 'ACCESSOIRES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>   
                                    </div>                                              
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>bagagerie</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'MODE FEMMES'} | filter: {'superCategory': 'BAGAGERIE'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>   
                                    </div>                      
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>top marques</h4>
                                        <ul>
                                            <li><a href="#">pas-encore</a></li>
                                        </ul>   
                                    </div>                      
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nos meilleures ventes</h4>
                                        <ul>
                                            <li><a href="women.html">Nos Nouveautés</a></li>
                                            <li><a href="women.html">Promotions</a></li>
                                        </ul>   
                                    </div>
                                </div>
                        </div>
                    </li>
                    <li><a class="color5" href="#">sports/loisirs</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nutrition</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'SPORT & LOISIRS'} | filter: {'superCategory': 'NUTRITION'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>fitness & musculation</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'SPORT & LOISIRS'} | filter: {'superCategory': 'FITNESS & MUSCULATION'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>sport d'équipe</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'SPORT & LOISIRS'} | filter: {'superCategory': 'SPORT D\'EQUIPE'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>												
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>cyclisme & plein air</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'SPORT & LOISIRS'} | filter: {'superCategory': 'CYCLISME & PLEIN AIR'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>						
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>sports extrêmes</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'SPORT & LOISIRS'} | filter: {'superCategory': 'SPORT EXTREMES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nos meilleures ventes</h4>
                                        <ul>
                                            <li><a href="women.html">Nos Nouveautés</a></li>
                                            <li><a href="women.html">Promotions</a></li>
                                        </ul>   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>				

                    <li><a class="color7" href="#">beauté/santé</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>maquillage</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'BEAUTE,HYGIENE & SANTE'} | filter: {'superCategory': 'MAQUILLAGE'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>parapharmacie</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'BEAUTE,HYGIENE & SANTE'} | filter: {'superCategory': 'PARAPHARMACIE'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>parfums homme</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'BEAUTE,HYGIENE & SANTE'} | filter: {'superCategory': 'PARFUMS HOMME'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>												
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>parfums femme</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'BEAUTE,HYGIENE & SANTE'} | filter: {'superCategory': 'PARFUMS FEMME'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>						
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                    <h4>top marques</h4>
                                    <ul>
                                        <li><a href="#">pas-encore</a></li>
                                    </ul>   
                                </div>
                                </div>                                 
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nos meilleures ventes</h4>
                                        <ul>
                                            <li><a href="women.html">Nos Nouveautés</a></li>
                                            <li><a href="women.html">Promotions</a></li>
                                        </ul>   
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>				

                    <li><a class="color8" href="#">Informatique</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>ordinateurs portables</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'INFORMATIQUE & BUREAU'} | filter: {'superCategory': 'ORDINATEURS PORTABLES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>imprimantes & scanners</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'INFORMATIQUE & BUREAU'} | filter: {'superCategory': 'IMPRIMANTES ET SCANNERS'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>ordinateurs fixes</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'INFORMATIQUE & BUREAU'} | filter: {'superCategory': 'ORDINATEURS FIXES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>												
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>périphériques & accessoires</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'INFORMATIQUE & BUREAU'} | filter: {'superCategory': 'PÉRIPHÉRIQUES & ACCESSOIRES'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>						
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>gaming et graphisme</h4>
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'INFORMATIQUE & BUREAU'} | filter: {'superCategory': 'GAMING & GRAPHISME'}"><a href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>nos meilleures ventes</h4>
                                        <ul>
                                            <li><a href="women.html">Nos Nouveautés</a></li>
                                            <li><a href="women.html">Promotions</a></li>
                                        </ul>   
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color9" href="#">autres</a>
                        <div class="megapanel" style="width:250px;margin-left:78%;">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav" style="width:250px;">
                                        <ul>
                                            <li ng-repeat="categorie in categories | filter: {'superSuperCategory':'AUTRE'}"><a ng-href="#/products/{{ categorie.id }}">{{ categorie.name }}</a></li>
                                        </ul>	
                                    </div>							
                                </div>                                
                            </div>                            
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
        </div>
        <!-- End Header -->



        <!-- Content -->
        <div class="container">
            <div ng-view=""></div>
        </div>
        <!-- End Content -->
        <!-- Footer Top -->
        <div class="foot-top">
            <div class="container">
                <div class="col-md-6 s-c">
                    <li>
                        <div class="fooll">
                            <h5>follow us on</h5>
                        </div>
                    </li>
                    <li>
                        <div class="social-ic">
                            <ul>
                                <li><a href="#"><i class="facebok"> </i></a></li>
                                <li><a href="#"><i class="twiter"> </i></a></li>
                                <li><a href="#"><i class="goog"> </i></a></li>
                                <li><a href="#"><i class="be"> </i></a></li>
                                <li><a href="#"><i class="pp"> </i></a></li>
                                <div class="clearfix"></div>	
                            </ul>
                        </div>
                    </li>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 s-c">
                    <div class="stay">
                        <div class="stay-left">
                            <form>
                                <input type="text" placeholder="Enter your email to join our newsletter" required="">
                            </form>
                        </div>
                        <div class="btn-1">
                            <form>
                                <input type="submit" value="join">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="col-md-3 cust">
                    <h4>CUSTOMER CARE</h4>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="buy.html">How To Buy</a></li>
                    <li><a href="#">Delivery</a></li>
                </div>
                <div class="col-md-2 abt">
                    <h4>ABOUT US</h4>
                    <li><a href="#">Our Stories</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </div>
                <div class="col-md-2 myac">
                    <h4>MY ACCOUNT</h4>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="#">My Cart</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="buy.html">Payment</a></li>
                </div>
                <div class="col-md-5 our-st">
                    <div class="our-left">
                        <h4>OUR STORES</h4>
                    </div>
                    <div class="our-left1">
                        <div class="cr_btn">
                            <a href="#">SOLO</a>
                        </div>
                    </div>
                    <div class="our-left1">
                        <div class="cr_btn1">
                            <a href="#">BOGOR</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <li><i class="add"> </i>Jl. Haji Muhidin, Blok G no.69</li>
                    <li><i class="phone"> </i>025-2839341</li>
                    <li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>

                </div>
                <div class="clearfix"> </div>
                <p>Copyrights © 2015 Gretong. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
                r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
                                    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script type="text/javascript" src="scripts/megamenu.js"></script>
        <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
        <script src="scripts/menu_jquery.js"></script>
        <script src="scripts/simpleCart.min.js"> </script>
        <script src="scripts/jquery.etalage.min.js"></script>
        <script type="application/x-javascript">
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); }
        </script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- services -->
        <script src="scripts/services/product.js"></script>
        <script src="scripts/services/category.js"></script>
        <script src="scripts/services/client.js"></script>
        <!-- END services -->
        <!-- controllers -->        
        <script src="scripts/controllers/indexController.js"></script>
        <script src="scripts/controllers/mainController.js"></script>
        <script src="scripts/controllers/aboutController.js"></script>
        <script src="scripts/controllers/registerController.js"></script>
        <script src="scripts/controllers/productController.js"></script>
        <script src="scripts/controllers/clientController.js"></script>
        <script src="scripts/controllers/productDetailsController.js"></script>
        <!-- END controllers -->

        <!-- filters -->
        <script src="scripts/filters/unique.js"></script>
        <script src="scripts/filters/filterMultiple.js"></script>
        <!-- END filters -->

        <!-- endbuild -->
                <script>
            jQuery(document).ready(function($){

                $('#etalage').etalage({
                    thumb_image_width: 300,
                    thumb_image_height: 400,
                    source_image_width: 900,
                    source_image_height: 1200,
                    show_hint: true,
                    click_callback: function(image_anchor, instance_id){
                        alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                    }
                });

            });
        </script>
    </body>
</html>
