<div class="women_main">
	<!-- start sidebar -->
	<div class="col-md-3 s-d">
	  <div class="w_sidebar">
		<div class="w_nav1">
			<ul>
				<li ng-repeat="category in categories | unique: 'superSuperCategory'">
					<a ng-click="showSuperSuperCategory(category.superSuperCategory)">
						<span ng-class="(category.superSuperCategory == currentCategory.superSuperCategory || category.superSuperCategory == chosenSuperCategory)? 'text-primary':''">{{ category.superSuperCategory }}</span>
					</a>
				</li>
			</ul>	
		</div>
		<h3>FILTRER PAR</h3>
		<section  class="sky-form">
			<h4>sous-catogories</h4>
			<div class="row1 scroll-pane">
				<label class="checkbox" ng-repeat="category in categories | filter: {'superCategory': currentCategory.superCategory } | filter: {'superSuperCategory': currentCategory.superSuperCategory} | filter: {'superSuperCategory': chosenSuperCategory } | unique: 'name' ">
					<input type="checkbox" name="checkbox" ng-checked="category.name == currentCategory.name" ng-click="addToChosenCat(category.id)"><i></i>{{ category.name }}
				</label>								
			</div>
		</section>
		<section  class="sky-form">
			<h4>marques</h4>
			<div class="row1 scroll-pane">												
				<label class="checkbox" ng-repeat="product in products | filterWithOr : {'idCategory' : (chosenCategories.length == 0? '':chosenCategories)} | filterWithOr : {'idCategory' : (chosenBisCategories.length == 0? '':chosenBisCategories)} | unique: 'brand'">
					<input type="checkbox" name="checkbox" ng-click="addToChosenBrand(product.brand)"><i></i>{{ product.brand }}
				</label>							
			</div>
		</section>
		<section class="sky-form">
			<h4>couleurs</h4>
			<ul class="w_nav2">
				<li><a class="color1" href="#"></a></li>
				<li><a class="color2" href="#"></a></li>
				<li><a class="color3" href="#"></a></li>
				<li><a class="color4" href="#"></a></li>
				<li><a class="color5" href="#"></a></li>
				<li><a class="color6" href="#"></a></li>
				<li><a class="color7" href="#"></a></li>
				<li><a class="color8" href="#"></a></li>
				<li><a class="color9" href="#"></a></li>
				<li><a class="color10" href="#"></a></li>
				<li><a class="color12" href="#"></a></li>
				<li><a class="color13" href="#"></a></li>
				<li><a class="color14" href="#"></a></li>
				<li><a class="color15" href="#"></a></li>
				<li><a class="color5" href="#"></a></li>
				<li><a class="color6" href="#"></a></li>
				<li><a class="color7" href="#"></a></li>
				<li><a class="color8" href="#"></a></li>
				<li><a class="color9" href="#"></a></li>
				<li><a class="color10" href="#"></a></li>
			</ul>
		</section>
		<section class="sky-form">
			<h4>remise (>=)</h4>
			<div class="row1 scroll-pane">
				<div class="col col-4">
					<label class="radio" ng-repeat="i in [100,90,80,70,60,50,40,30,20,10,0]"><input type="radio" name="radio" ng-click="setChosenDiscount(i)" value="{{ i }}"><i></i>{{ i }} %</label>					
				</div>
			</div>						
		</section>
	</div>
   </div>
	<!-- start content -->
	<div class="col-md-9 w_content">
		<div class="women">
			<a href="#"><h4>{{ filtered.length }} articles</span> </h4></a>
			<ul class="w_nav">
				<li>Trier : </li>
     			<li><a class="active" href="#">Prix</a></li> |
     			<li><a href="#">Remise </a></li> |
     			<div class="clear"></div>	
		     </ul>
		     <div class="clearfix"></div>	
		</div>
		<!-- grids_of_4 -->
		<div ng-repeat="product in filtered = (products | filterWithOr : {'idCategory' : (chosenCategories.length == 0? '':chosenCategories)} | filterWithOr : {'brand' : (chosenBrands.length == 0? '':chosenBrands)} | filterWithOr : {'idCategory' : (chosenBisCategories.length == 0? '':chosenBisCategories)} | filter : (chosenDiscount == undefined)? '':greaterThan('discount', chosenDiscount) | filter:search:strict)">									
			<div class="grid1_of_4" style="margin:7px;">
				<div class="content_box"><a href="details.html">
					<img src="/images/w{{ $index+1 }}.jpg" class="img-responsive" alt=""/>
					</a>
					<h4><a ng-href="#/product/{{ product.id }}"> {{ product.name }}</a></h4>
					<p>{{ product.description }}</p>
					<div class="grid_1 simpleCart_shelfItem">
						<div class="item_add">
							<span class="item_price">
								<h5>{{ product.buyPrice-(product.buyPrice * product.discount) }} DHS <span ng-show="product.discount>0" style="font-size:0.9em; text-decoration: line-through;color:red;">{{ product.buyPrice }} DHS</span></h5>								
							</span>
						</div>
						<div class="item_add"><span class="item_price"><a ng-click="addToBasket(product.id,product.idCategory,product.idSupplier,product.name,product.description,product.discount,product.quantity,product.shippedPrice)" data-toggle="modal" data-target="#myModal">ajouter au panier</a></span></div>
					</div>
			   	</div>
			</div>
		</div>
						  			
	</div>					
	<div class="clearfix"></div>	
	<!-- end content -->
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top:250px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Produit ajouté au panier</h4>
      </div>          
    </div>
  </div>
</div>